<div class="container mt-3 mb-5">

  <div class="row mb-3">
    <div class="col-md-4 mx-auto">
  <h2 class="mb-4 text-center">Listagem de Filmes</h2>

      <form>
        <mdb-form-control>
          <input name="search" [(ngModel)]="search" mdbInput type="text" id="form1" class="form-control"/>
          <label mdbLabel class="form-label" for="form1">Search</label>
        </mdb-form-control>
      </form>

  <button (click)="getMovies()" type="button" class="btn btn-primary w-100 mt-2" mdbRipple>Search</button>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-md-3" *ngFor="let movie of movies">
      <app-movie-card
        [id]="movie.imdbID"
        [year]="movie.Year"
        [title]="movie.Title"
        [poster]="movie.Poster"
      />
    </div>
  </div>
</div>
