<mdb-carousel [interval]="0" [controls]="true" [indicators]="true" [animation]="'fade'">
  <mdb-carousel-item>
    <img
      src="{{slideImage}}"
      class="d-block w-100"
      alt="..."
    />
    <div class="carousel-caption d-none d-md-block">
      <h5>{{slideTitle}}</h5>
      <p>{{slideDescription}}</p>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img
      src="{{slideImage2}}"
      class="d-block w-100"
      alt="..."
    />
    <div class="carousel-caption d-none d-md-block">
      <h5>{{slideTitle2}}</h5>
      <p>{{slideDescription2}}</p>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img
      src="{{slideImage3}}"
      class="d-block w-100"
      alt="..."
    />
    <div class="carousel-caption d-none d-md-block">
      <h5>{{slideTitle3}}</h5>
      <p>{{slideDescription3}}</p>
    </div>
  </mdb-carousel-item>
</mdb-carousel>
