<app-header/>
<router-outlet/>
<app-footer/>


<!--<app-carousel/>-->

<!--<div class="container mt-5 mb-5">-->

<!--  <app-cards/>-->

<!--</div>-->

<!--<div class="container mt-3 mb-3">-->
<!--  <div class="row justify-content-center">-->

<!--    <div class="col-md-6 p-2">-->
<!--      <p>Lorem ipsum Lorem ipsum dolor sit amet, consectetur adipiscing elit.-->
<!--        Vivamus pulvinar facilisis sem, id cursus dui dictum ac.-->
<!--        Sed vel tortor ac sapien consequat cursus.-->
<!--        Nulla facilisi. Donec ac ante nec erat rhoncus commodo.-->
<!--        Lorem ipsum dolor sit amet, consectetur adipiscing elit.-->
<!--        Vivamus pulvinar facilisis sem, id cursus dui dictum ac.-->
<!--        Sed vel tortor ac sapien consequat cursus.-->
<!--        Nulla facilisi. Donec ac ante nec erat rhoncus commodo.-->
<!--      </p>-->
<!--    </div>-->

<!--    <div class="col-md-3 p-2">-->
<!--      <app-images src="https://cdn.pixabay.com/photo/2015/01/19/13/51/car-604019_1280.jpg" class="card-img-top" alt="Fissure in Sandstone"/>-->
<!--    </div>-->

<!--  </div>-->
<!--</div>-->

<!--<div class="container mt-3 mb-3">-->
<!--  <div class="row justify-content-center">-->

<!--    <div class="col-md-3 p-2">-->
<!--      <app-images src="https://cdn.pixabay.com/photo/2024/01/14/11/46/car-8507682_1280.jpg" class="card-img-top" alt="Fissure in Sandstone"/>-->
<!--    </div>-->

<!--    <div class="col-md-6 p-2">-->
<!--      <p>Lorem ipsum Lorem ipsum dolor sit amet, consectetur adipiscing elit.-->
<!--        Vivamus pulvinar facilisis sem, id cursus dui dictum ac.-->
<!--        Sed vel tortor ac sapien consequat cursus.-->
<!--        Nulla facilisi. Donec ac ante nec erat rhoncus commodo.-->
<!--        Lorem ipsum dolor sit amet, consectetur adipiscing elit.-->
<!--        Vivamus pulvinar facilisis sem, id cursus dui dictum ac.-->
<!--        Sed vel tortor ac sapien consequat cursus.-->
<!--        Nulla facilisi. Donec ac ante nec erat rhoncus commodo.-->
<!--      </p>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
