<div class="row justify-content-center">
  <div class="col-12 col-sm-6 col-md-3">
    <app-card
      [title]="cardTitle"
      [description]="cardDescription"
      [image]="cardImage"
    />
  </div>

  <div class="col-12 col-sm-6 col-md-3">
    <app-card
      [title]="cardTitle2"
      [description]="cardDescription2"
      [image]="cardImage2"
    />
  </div>

  <div class="col-12 col-sm-6 col-md-3">
    <app-card
      [title]="cardTitle3"
      [description]="cardDescription3"
      [image]="cardImage3"
    />
  </div>

</div>
